.questionsSection {
	background: url("./assets/paper.jpg") no-repeat center;
	background-size: cover;
}

form {
	
	text-align: center;

	fieldset {		

		background-color: $secondaryFontColor;
		border: none;
		border-radius: 10px;

		margin: auto;
		// padding: 10% auto;
		
		height: 50vh;
		
		width: 80%;
	}

	
	label {
		margin: auto 10%;
		
		width: 50%;
	}
	button {
		
		margin: 5% auto;
		// margin: 90vh auto 0px;
		
	}
}