html {
	@include mainFont();

	color: $mainFontColor;
	font-size: 10px;
}

button {
	@include fontSize(20);

	border: 5px solid $mainFontColor;
	border-radius: 10px;
	
	background-color: $mainFontColor;
	color: $secondaryFontColor;

	padding: 15px;

	transition: border 200ms ease-in-out;
}

button:hover,
button:focus {
	border: 5px solid $secondaryAccentColor;
	cursor: pointer;
}

h1 {
	@include fontSize(80);
	
	margin: 0;

	@media (max-width: 768px) {
		@include fontSize(60);
	}
}

h1,
.resultsSection h2 {
	@include logoFont();
}

h2 {
	@include fontSize(40);
	
	margin-bottom: 10%;
	
}

h3{
	@include fontSize(15);
}

p {
	@include fontSize(30);
}

.bold {
	font-weight: bold;
}

.wrapper {
	margin: 0 auto;
	width: 90%;
	max-width: 1500px;
}

.displayDisabled {
	display: none;
}