header {
	background: url("./assets/heroHeader.jpg") no-repeat center ;
	background-size: cover;
	
	height: 100vh;
	
	display: flex;
	align-items: center;

	
	section {
		background: $accentColor;
		
		padding: 2%;

		width: 55%;

		text-align: center;
	}
}

@media (max-width: 768px) {
	
	header {

		section {
			
			margin: auto;

			width: 90%;	
		}
	}
}