.resultsSection {

	background: url("./assets/paper.jpg") no-repeat center;
	background-size: cover;

	margin: auto ;

	h2 {
		@include fontSize(40);
		
		margin-top: 0;
		padding: 10%;
	}

	.mbptResults {

		width: 100%;
		
		text-align: center;
	}

	section {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;	

		padding-bottom: 10%;
	}

	.mbptDescription {
		@include fontSize(25);

		background-color: $accentColor;
		border-radius: 10px;

		padding: 5%;
	}

	.mbptDescription,
	.imageContainer {
		width: 45%;
	}

	img {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.resultsSection {
		
		section {
			flex-direction: column-reverse;
		}
		
		.mbptDescription,
		.imageContainer {
			width: 90%;
		}
	}
}